.post {
    background-color: var(--project-bg-color);
    margin: 2.5rem;
    padding: 2.5rem;
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
    max-width: 150rem;
    width: 100%;
    color: var(--white-color);
    border-radius: 1rem;
}

.post_details_btns {
    margin-top: 5rem;
    display: flex;
    gap: 5rem;
    align-items: center;
}

.post_details_title {
    font-size: 4.5rem;
    margin-bottom: 2rem;
    color: var(--white-color);
}

.post_details_info a {
    text-decoration: none;
}

.post_img {
    max-width: 50rem;
}

.post_img img {
    object-fit: contain;
    width: auto;
    height: 100%;
    max-height: 50rem;
}

.post_details_author, .post_details_date {
    font-size: 1.5rem;
}

.post_details_btns_publish {
    color: var(--white-color);
    background-color: var(--primary-color);
    border: 2px solid var(--primary-color);
}

.post_details_btns_archive {
    border: 2px solid var(--primary-color);
    background-color: var(--project-bg-color);
    color: var(--primary-color);
}

.post_details_btns_edit {
    border: 2px solid var(--green-color);
    background-color: var(--project-bg-color);
    color: var(--green-color);

}

.post_details_btns_delete {
    border: 2px solid var(--red-color);
    color: var(--red-color);
    background-color: var(--project-bg-color);
}

@media screen and (max-width: 1000px) {
    .post_details_title {
        font-size: 3.5rem;
    }
}

@media screen and (max-width: 700px) {
    .post {
        margin: 1.5rem;
        padding: 1.5rem;
        align-items: center;
        justify-items: center;
        width: 80%;
    }

    .post_details {
        text-align: center;
    }

    .post_details_btns{
        justify-content: center;
    }
}

@media screen and (min-width: 700px) {
    .post {
        grid-template-columns: 0.5fr 1.1fr;
    }
}
